.ViewResume{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ViewResume_block {
    background-color: black;
    color: white;
    padding: 20px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.h1{
    text-align: left;
    width: 100%;
    padding: 0 30px;
}

.ViewResume .Resume_block{
    background-color: rgb(19, 19, 19);
    padding: 20px 20px 20px 20px;
    border: 1px solid rgb(60, 60, 60);
    margin: 10px 300px;
    width: 800px;
    text-align: left;
}
.Resume_block .resumeId{
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

.ViewResume .Resume_block .btnClose{
    color: rgb(127, 125, 125);
    cursor: pointer;
}

.ResumeUiList {
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;  
    gap: 5px;
    width: 700px;
}

.ResumeUiList .User_block {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    margin: 5px;
    display: grid;
    justify-items: center;
    align-content: center;
    line-height: 1.2;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
}
.ViewResume .User_block:hover{
    background-color: white;
    color: black;
    transition: 0.2s ease;
}



.selectViewMethod{
    margin: 20px 0px;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
}


.selectViewMethod svg{
    cursor: pointer;
}
.selectViewMethod svg:hover{
    color: rgb(174, 97, 246);
    transform: scale(1.20);
    transition: 0.2s ease;
    
}

.return_list{
    width: 800px;
    background-color: rgb(41, 41, 41);
    padding: 15px 20px;
}
.return_list .item{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    border-bottom: 1px solid rgb(29, 29, 29);
    transition: 0.2s ease;
}
.return_list .title{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(60, 60, 60);
    padding: 10px;
    border-bottom: 1px solid rgb(29, 29, 29);
    transition: 0.2s ease;
    font-weight: 1000;
}
.return_list .title .id{
    padding: 0px 45px;
}
.return_list .title .name{
    padding: 0px 40px;
}
.return_list .title .call{
    padding: 0px 70px;
}


.return_list .item:hover{
    transform: scale(1.01);
    background-color: blueviolet;
    cursor: pointer;
    transition: 0.2s ease;

}
.return_list .id{
    padding: 0px 40px;
}
.return_list .name{
    padding: 0px 40px;
}
.return_list .call{
    padding: 0px 40px;
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.return_list .btn_page {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    
    border: none;
    
}

.return_list .btn_page:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}



.searchWrapper {
    text-align: right;
    margin-bottom: 10px;
   
}

.searchWrapper input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(60, 60, 60);
    color: white;
}
