.Recruit {
    background-color: rgb(24, 26, 27);
    font-family: 'Noto Sans KR', sans-serif
}

.Recruit .title{
    padding: 100px   10vw;
    text-align: left;
    line-height: 1;
}

.Recruit .title h1{
    color: white;
    font-size: 150px;
    margin: 0px 0px;
    
}

@media (max-width: 1024px) {
    .Recruit .title h1 {font-size:100px;}
}
@media (max-width: 768px) {
    .Recruit .title h1 {font-size:100px; color: rgb(255, 255, 255);}
}
@media (max-width: 500px) {
    .Recruit .title h1 {font-size:80px; color: rgb(255, 255, 255);}
}

.Recruit .header{
    color :white;
    background-color: rgb(45, 46, 46);
}
.Recruit .header h1{
    margin: 0px 0px;
}
.Recruit .header_block_left{
    text-align: left;
    padding: 50px 0;
    margin: 0 10vw;
}

.Recruit .header_block_right{
    text-align: right;
    padding: 50px 0vw;
    margin: 0 10vw;
}



.scr{
    color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.scr:hover{
    color: rgb(105, 76, 76);
    
}

.Recruit .scroll:hover {
    transform: scale(1.1); 
    color: rgb(161, 123, 123); 
}