.Footer{
    background-color: rgb(42, 45, 47);
    color: rgb(201, 201, 201);
    padding: 30px 0;
}

.Footer a{
    
    color: rgb(156, 156, 156);
}
.Footer h3 {
    font-weight: 600;
    color: #cccccc;
}

@media (max-width : 500px){
    .Footer h3 {
        font-size: 12px;
        font-weight: 600;
        color: #cccccc;
    }
    
}