.Home {
  background-color: rgb(24, 26, 27);
  font-family: 'Roboto', sans-serif;
  }
  .Home .title{
    background-color:rgb(24, 26, 27);
    height: 400px;
    color: white;
    text-align: right;

    transition: 1s ease;
  }
  .Home .title:hover{
    transition: 1s ease;
    transform: translateX(-200px);   
}



  .Home .header {
    padding: 50px 20vh 100px 20vh;
    background-color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
  .Home .header h2{
    font-size: 4vw;
    line-height: 0.5; /* 줄 간격 조정 */
    font-family: 'Roboto', sans-serif;
  }

.Home .overview{
  background-color: rgb(24, 26, 27);
  color: white;
  padding: 50px 20vh;
}


.scroll-arrow {
    position: fixed;
    right: 47%;
    text-align: center;
    color: rgb(24, 26, 27);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.scroll-arrow:hover {
    transform: scale(1.1); 
    color: rgb(161, 123, 123); 
}

.res1{
  transition: 1s ease 0.2s;
  padding: 100px 0px 0 0;
}
.res1 img{
  width: 50vw;
  transition: 1s ease 0.2s;
}
.res1:hover{
  transform: scale(1.1);
  transition: 1s;
}



.img_1{
    margin: 100px 0;
}
 .img_1 img{
    width: 40vh;
    padding: 0 20px;
    -webkit-filter:  blur(0);
    filter:  blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
 .img_1 img:hover{
    transform: scale(1.05);
    -webkit-filter:  blur(1px);
     filter:  blur(3px);
}


.about_part{
  display: inline-flex;
  gap: 10vw;
  color: white;
}
.about_part .partbox{
  width: 400px;
  height: 350px;
  transition: 1s ease;
}
.about_part .partbox:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 1s ease;
  color: antiquewhite;
}



@media (max-width: 1024px) {
  
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {
  .Home .title:hover{
    transition: 1s ease;
    transform: scale(1.05);   
}
}
