.gallery {
    display: flex; /* Flexbox를 사용하여 이미지를 나란히 배치 */
    justify-content: center; /* 수평 중앙 정렬 */
    gap: 50px; /* 이미지 사이에 간격 추가 */
    padding: 20px 0;
  }
  
  .image-container {
    border: 2px solid #ccc; /* 이미지 컨테이너에 테두리 추가 */
    background-color: #f9f9f9; /* 컨테이너 배경색 */
  }
  
  .image {
    display: block; /* 이미지를 블록으로 표시하여 컨테이너의 전체 너비 사용 */
    max-width: 100%; /* 이미지의 최대 너비를 컨테이너의 너비에 맞춤 */
    width: 50vh;
    height: 30vh
  }
  