.AdminPage{
    text-align: center;
    background-color: rgb(42, 45, 47);
    color: white;
}

.AdminPage .block_section {
    background-color: gray;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    display: inline-flex;
}

.AdminPage .block_section .block{
    background-color: rgb(24, 26, 27);
    color: white;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: 0.2s ease;
}
.AdminPage .block_section .block:hover{
    transition: 0.2s ease;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transform: scale(1.01);
}
